<h1>Stupid Coaching</h1>

 <cite>Your question:</cite>
  <p>
    <% if @question.blank? %>
      😶
    <% else %>
      <%= @question %>
    <% end %>
  </p>

  <cite>Your coach's answer:</cite>
  <p><%= @answer %></p>



<%= link_to "Ask a new question", ask_path %>
